body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007BFF;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    margin: 20px auto;  /* Center the button horizontally and give it some space above and below */
    font-size: 14px;    /* Adjust as per your preference */
}

button:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #E8E8E8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
    text-align: center;
}

li:hover {
    background-color: #D0D0D0;
}

p {
    margin-top: 30px;
    font-weight: bold;
}

#team-select {
    width: 100%;                 /* Ensure the dropdown takes full width of the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;          /* Rounded corners similar to other elements */
    background-color: #fff;
    margin-bottom: 20px;         /* Space below the dropdown */
    font-size: 14px;             /* Adjust font size as per your preference */
}

#team-select:hover {
    border-color: #007BFF;       /* Change the border color on hover for an interactive effect */
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

